{#the most basic form I can write here...JV will make this look nice and we can hook up all the form vars but for now this will work to test functionality  #}
{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    {# display form errors if they happend #}


    <div class="flex-wrapper">
      <div class="flex-inner">
        <h3><img src="{% static "img/header-practicingloss.png" %}" alt="Practicing Loss"></h3>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Upload Image</button>
     </form>
      </div>
    </div>
{% endblock %}
