{#the most basic form I can write here...JV will make this look nice and we can hook up all the form vars but for now this will work to test functionality  #}
{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    {# display form errors if they happend #}


    <div class="flex-wrapper">
      <div class="flex-inner">
        <h3><img src="{% static "img/header-practicingloss.png" %}" alt="Practicing Loss"></h3>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {# {{ form.as_p }} #}
        {% for field in form %}
            {% if field.name != "physical_mailing_list" and field.name != "upload_image" %}
                <p>
                    <label for="{{field.id_for_label}}"> {{ field.label }} </label>
                    {{ field }}
                </p>
            {% elif field.name == "upload_image"%}
                <p class="upload-image">
                    <label for="{{field.id_for_label}}"> {{ field.label }} </label>
                    {{ field }}
                </p>
            {% elif field.name == 'physical_mailing_list'%}
                <p class='newsletter'>
                    {{ field }}
                    <label for="{{field.id_for_label}}"> {{ field.label }} </label>
                </p>
            {% endif %}
        {% endfor %}
        {# render these guys seperately for the sick csss things #}
        <button type="submit">Submit</button>
     </form>
      </div>
    </div>
{% endblock %}
